body{
  margin-bottom: 1000px;
}
body a{
  text-decoration: none;
  color: black;
  cursor: default;
}
.main {
  display: flex;
  justify-content: center;
}
.container {
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.items {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.card {
  height: 100%;
  text-align: center;
}

.realmeimage img {
  width: 100%;
}

.card img {
  width: 100%;
  height: 80%;
  cursor: pointer;
}
