.section4{
    width: 100%;
}
.newarrival{
    width: 100%;
    height: 672px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.newarrivalcard {
    width: 100%;
    height: 50%;
    display: flex;
    gap: 22px;
}
.newarrivalcard div{
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
}